@model RegistrationAndLogin.Models.User

@{
    ViewBag.Title = "Profile";
}

<div>
    <h4>Profile Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<button type="button" class="btn btn-success" style="width:200px" data-toggle="modal" data-target="#not-modal">Notifications</button>
<div class="modal" role="dialog" id="not-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p>Class Name - Space Ship Engineering</p>
                    </div>
                    <div class="form-group">
                        <p>
                            Request to Name: "Batman - Judo" 
                            <br />
                            Time: 00:35 - 03:40
                            <br />
                            Request Status: Pending
                            
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<p>


    @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }


    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
